<div class="container" style = "padding:0; margin: 0; border-radius: 0; text-align: center; color: white;">
  <h1 >Welcome to Test App</h1>
  <h4 >This is a testing platform for everyone.</h4>
</div>
<div class="container" style = "margin-bottom: 5px;">
  <div class="bottom-outer">
    <div class="row">
      <div class="section" style = "width: 100%;">
        <app-help></app-help>
      </div>
    </div>

    <hr style="background: transparent;">

    <div class="row" style="justify-content: center;">
      <div class="section" style = "float:left;">
        <div class="card">
          <div class="card-body">
            <app-login></app-login>
          </div>
        </div>
      </div>
      <div class="section" style = "float:right;">
        <div class="card">
          <div class="card-body">
            <app-register></app-register>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

