.timer {
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 160px;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
  position: fixed;
  right: 90px;
  top: 1vh;
  z-index: 12;
}
.cardlike {
  position: relative;
  justify-content: center;
  width:90vw;
  margin: 0 auto;
  top:50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 60px;
}
