/* You can add global styles to this file, and also import other style files */
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
/* #footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  overflow-x: hidden;
  left: 22vw;

} */
